<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Meilleurs Ventes</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Mobiles</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Les téléphones portables jouent un rôle central dans la vie moderne en offrant une communication instantanée, un accès à l'information en ligne et une multitude de fonctionnalités pour le divertissement et la productivité. Ils sont devenus indispensables pour rester connecté, rester organisé et accéder à une gamme infinie d'outils et de divertissements, où que l'on soit..</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>PC Portables</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Les PC portables sont devenus des outils essentiels pour le travail, les études et les loisirs, offrant la possibilité de rester productif et connecté où que vous soyez. Ils sont adaptés à une variété d'utilisateurs, des professionnels aux étudiants en passant par les utilisateurs à domicile, offrant une large gamme d'applications et de fonctionnalités dans un format portable et pratique..</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/31.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Appareil Photo</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Les caméras sont devenues omniprésentes dans notre vie quotidienne, permettant de capturer des moments précieux, de créer du contenu visuel et de surveiller des environnements. Avec les avancées technologiques, les caméras sont devenues plus accessibles et polyvalentes, offrant des possibilités créatives et pratiques pour les utilisateurs de tous niveaux.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.avif" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.avif"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Tablettes</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Les tablettes sont populaires pour une utilisation à domicile, en voyage, dans l'éducation, les entreprises et d'autres contextes. Elles offrent une expérience interactive polyvalente, idéale pour la consommation de contenu, la communication, la productivité légère et plus encore. La gamme variée d'applications disponibles leur permet de répondre aux besoins d'un large éventail d'utilisateurs..</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Exploitez le Pouvoir de  <br>l'IT
                        <br />
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>