<div class="wrapper sticky d-block">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <img src="./assets/img/Logo.png" alt="logo"> <span class="title">Geek Galaxy Store</span>
    </a>
    <ul>
      <li>
        <i>
          <a (click)="handleLoginAction()">Se Connecter</a>
          <a (click)="handleSignupAction()">S'Inscrire</a>
          <a (click)="handleForgotPasswordAction()">Mot de passe oublier?</a>
        </i>
      </li>
    </ul>
  </nav>
</div>

<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="footer" id="signup">
  <h2>&copy;2024 Copyright | Geek Galaxy Store </h2>
</div>
